.link {
    font-family: Courier;
    font-size: large;
    
}

body {
    margin: 0;
}

.header {
    display: flex;
    background-color: gray;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    margin: 0;
}

.recipeBox {
    display: flex;
    gap: 16px;
    padding: 8px;
}

.pizzaHeading {
    padding: 15px 0%;
    margin: auto auto;
    width: 100%;
    color: lightyellow;
    text-align: center;
    background-color: lightcoral;
    font-family: Courier;
    font-size: 60px;
}

.simpleHeading {
    color: red;
    text-align: center;
    font-family: Courier;
    font-size: 30px;
}

.pizzapic {
    padding: 0%;
    width: 100%;
    height: auto;
    margin: auto auto;
}

.page.pizza {
    background-color: lightyellow;
}

.back {
    padding: 30px;
}

